*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Orbitron',sans-serif;
background:
linear-gradient(
135deg,
#0f172a,
#020617
);

color:white;

height:100vh;

display:flex;
justify-content:center;
align-items:center;

overflow:hidden;
}

/* MENU */

#menu,
#jogo,
#gameOver{
text-align:center;
}

#jogo{
display:none;
}

#gameOver{
display:none;
}

/* TITULOS */

h1{
font-size:4rem;

color:#38bdf8;

text-shadow:
0 0 10px #38bdf8,
0 0 20px #38bdf8,
0 0 40px #38bdf8;

margin-bottom:20px;
}

h2{
margin:10px;
}

h3{
margin:10px;
color:#cbd5e1;
}

/* TEXTO */

p{
margin-bottom:20px;
color:#e2e8f0;
}

/* INPUT */

input{

width:280px;

padding:15px;

border:none;

border-radius:12px;

outline:none;

font-size:16px;

text-align:center;

margin:20px;

background:#1e293b;

color:white;

box-shadow:
0 0 10px rgba(56,189,248,.4);

}

input::placeholder{
color:#94a3b8;
}

/* BOTÕES */

button{

padding:15px 30px;

margin:10px;

border:none;

border-radius:12px;

cursor:pointer;

font-size:1rem;

font-weight:bold;

color:white;

background:
linear-gradient(
45deg,
#2563eb,
#38bdf8
);

transition:.3s;

}

button:hover{

transform:
translateY(-3px)
scale(1.05);

box-shadow:
0 0 20px #38bdf8;

}

/* TUTORIAL */

#tutorial{

display:none;

margin-top:20px;

padding:20px;

max-width:500px;

background:
rgba(30,41,59,.95);

border-radius:15px;

line-height:1.8;

box-shadow:
0 0 20px rgba(56,189,248,.3);

}

/* CANVAS */

canvas{

background:
linear-gradient(
to bottom,
#4facfe,
#00f2fe
);

border-radius:20px;

border:3px solid rgba(255,255,255,.2);

box-shadow:
0 0 40px rgba(0,0,0,.5);

margin-top:15px;

}

/* GAME OVER */

#gameOver h1{

font-size:70px;

color:#ff4d4d;

text-shadow:
0 0 10px red,
0 0 20px red,
0 0 40px red;

margin-bottom:20px;

}

#finalScore{

font-size:30px;

margin:20px;

}

#recorde{

font-size:22px;

color:#facc15;

}

/* ÚLTIMO JOGADOR */

#ultimoJogador{

color:#22c55e;

font-size:18px;

margin-bottom:10px;

}

/* JOGADOR ATUAL */

#jogadorAtual{

color:#facc15;

}

/* RESPONSIVO */

@media(max-width:600px){

h1{
font-size:2.3rem;
}

canvas{
width:95%;
height:auto;
}

input{
width:90%;
}

button{
width:90%;
}

}

#rankingBox{

margin-top:25px;

padding:20px;

background:rgba(30,41,59,.9);

border-radius:15px;

width:350px;

margin-left:auto;
margin-right:auto;

box-shadow:
0 0 20px rgba(56,189,248,.3);

}

#rankingBox h2{

color:#facc15;

margin-bottom:15px;

}

#ranking{

text-align:left;

line-height:2;

font-size:18px;

}